  .container{
    margin-top: 50px;
  }

  .card{
    width: 15rem;
    margin: 30px;
  }
  .btn{
    font-size: small;
  
  }
  .off-price{
     font-size: 12px;
     text-decoration: line-through;
  }
  
