.container{
    margin-top: 70px;
}
.login{
    width: 450px;
    margin: auto;
    background-color: rgb(159, 170, 197);
    padding: 25px;
    border-radius: 15px;
}
label{
    padding: 15px;
    color:#fff;
}
.btn{
    margin-left: 15px;
    margin: 15px;
}
a{
    color: white;
}
.loginheading{
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px;
}

@media only screen and ( max-width: 700px) {
    .login{
        width: 250px;
        margin: auto;
        background-color: rgb(159, 170, 197);
        padding: 25px;
        border-radius: 15px;
    }
    label{
        padding: 8px;
        color:#fff;
    }
    .btn{
        margin: 8px;
    }
  }