.order-img{
    width:90%;
}
.order-media{
    padding: 50px;
    margin: 50px;
}
.faces{
    margin-top: 25px;
    
}
label{
    margin: 10px;
}
label input{
    margin: 5px;
}
.face-mean{
    font-size: 14px;
}